extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | ExploreStay Dine was created to help people.
 | <br /><br />
 | Our website offers a complete guide to accommodations, dining, and popular places, providing detailed information on addresses, ratings, and facilities—all in one convenient platform for your travel needs.