extends layout

block content
  .row.page-header(style="margin-bottom: 20px;") 
    .col-lg-12
      h1(style="margin-top: 20px;") ONE8 Restaurent 
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Bengalore
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              p Monday - Sunday : 9.00 am to 11.00pm
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;ambiance
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;global menu
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;trendy
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.931889786117!2d77.59661227431901!3d12.976208114778755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1780b1257945%3A0xf6fc56a58d1279f5!2sOne8%20Commune%2C%20Bangalore!5e0!3m2!1sen!2sin!4v1729166550329!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Varshitha 
                    small.reviewTimestamp   16 febrauray 2024
                  .col-xs-12
                    p Nice location for all techie students And good ambiance. 
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Ashwitha
                    small.reviewTimestamp    19 january 2024
                  .col-xs-12
                    p mentanence was very good.
    .col-xs-12.col-md-3
      p.lead
        | One8 Commune in Bangalore is a stylish restaurant that offers a lively dining experience, featuring a diverse menu and trendy ambiance ideal for social gatherings.
      p
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.